{% extends "base.html" %}
{% block content %}

<div class="page-header">
<h1>Productos</h1>
</div>
<div class="row">
  <div class="col-md-6">
  <table class="table">
    <thead>
      <tr>
        <th><strong>id</strong></th>
        <th><strong>Nombre</strong></th>
        <th><strong>Precio</strong></th>
        <th><strong>Departamento</strong></th>
        <th><strong>Cantidad</strong></th>
        <th><strong>Subtotal</strong></th>
      </tr>
    </thead>
    <tbody>
      {% for lista in result %}
      <tr>
      	{% for tupla in lista %}
      		<td>{{tupla}}</td>
      	{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <div class="col-md-6">
    <h3>Total: {{total}} </h3>
    <h3>Cambio: {{cambio}}</h3>
    <form action="/caja" method="post">
      <label>Pago:</label><input type="text" name="pago">
      <br><br>
      <label>Metodo:</label>
      <select name="metodo">
        <option value="1">Efectivo</option>
        <option value="2">Credito</option>
        <option value="3">Debito</option>
        <option value="4">Vales</option>
        <option value="5">Monedero</option>
      </select>
      <input type="submit" class="btn btn-primary" name="subida" value="Cobrar">
    </form>

  </div>
</div>
<!--Agregar nuevo producto-->
<div class="row">
  <div class="col-md-6">
    <h2>Agregar producto</h2>
    <hr>
    <form action="/caja" method="post">
      <label>Codigo:</label> <input type="text" name="id">
      <label>Cantidad:</label> <input type="text" name="cantidad">
      <input type="submit" name="subida" value="Agregar" class="btn btn-default">
    </form>
  </div>
</div>
{% endblock %}