{% extends 'base.html'%}
{% block content %}
<div class="page-header">
<h1>Reportes de Ventas</h1>
<h2>Top 10 productos mas vendidos</h2>
</div>
<div class="row">
  <div class="col-md-6">
  <form action="/productop" method="post">
  	<label>AÑO:</label><input type="text" name="anio">
    <input type="submit" value="Consultar" class="btn btn-primary">
  </form>
  
  <table class="table">
    <thead>
      <tr>
        <th><strong>Producto</strong></th>
        <th><strong>Unidades por año</strong></th>
      </tr>
    </thead>
    <tbody>
    {% for articulo in items %}
      <tr>
      	{% for detalle in articulo %}
      		<td>{{detalle}}</td>
      	{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

{% endblock %}